.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:focus,
.nav button:hover {
  background: rgba(255, 255, 255, 0.747);
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

/* No próximo seletor, "a:global(.active)" está selecionando o link (a) que contém a classe 'active'. Precisa ser
feito dessa maneira pois sem a função ':global()', o module.css irá criar um nome aleatório para .active, que não é a intenção. */

.nav a:global(.active) {
  background: rgba(255, 255, 255, 0.747);
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.nav a:global(.active) svg > * {
  fill: #fb1;
}
